* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    /* overflow: hidden; */
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.list {
    list-style: none;
}

main,
header,
footer {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

main {
    outline: 1px solid #000;
}

header,
footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.menu-link {
    font-size: 52px;
    font-weight: 600;
    transition: all 150ms ease;
}

.header--link-logo {
    color: #000;
}

.logo-animation {
    background: linear-gradient(to right, #000, #000 50%, transparent 50%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    animation: logo_appearance 0.2s 2.48s;
    animation-fill-mode: forwards;
}

.header--link-logo:hover,
.footer--link-contacts:hover {
    transform: rotate(-15deg);
}

.header--link-shop:hover,
.footer--link-news:hover {
    transform: rotate(15deg);
}

@keyframes logo_appearance {
    from {
        background-position: 100%;
        color: transparent;
    }
    to {
        background-position: 0;
        color: #000;
    }
}

.header--link-bicycle {
    position: fixed;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: transparent;
    position: relative;
    width: 128px;
    height: 128px;
    transition: all 0.3s ease-in-out;
}

.header--link-bicycle svg {
    width: inherit;
    height: inherit;
}

.header--link-bicycle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -1.8%;
    z-index: -1;
    width: inherit;
    height: inherit;
    border-radius: 0 0 50% 50%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header--link-bicycle:hover {
    color: #000;
}

.header--link-bicycle:hover::after {
    background-color: lightcoral;
}

@keyframes bicycle_movement {
    15% {
        transform: translateY(400px) translateX(-10px) scale(1);
    }
    30% {
        transform: translateY(400px) translateX(2000px) scale(1);
    }
    45% {
        transform: translateY(-500px) translateX(1000px) scale(0.25);
    }
    60% {
        transform: translateY(-500px) translateX(-1100px) scale(0.25);
    }
    75% {
        transform: translateY(0) translateX(-1100px) scale(0.25);
    }
    90% {
        transform: translateY(0) translateX(10px)scale(0.25);
    }
    100% {
        transform: translateY(0) translateX(0) scale(0.25);
        pointer-events: all;
    }
}

.bicycle-animation {
    font-size: 100px;
    width: 606px;
    height: 512px;
    transform: translateY(40vh);
    animation-name: bicycle_movement;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.container {
    position: relative;
    height: 700px;
    display: flex;
    font-size: 46px;
    font-weight: 600;
}

.container-home {
    justify-content: flex-end;
    align-items: center;
}

.container-shop {
    justify-content: flex-start;
    align-items: flex-end;
}

.container-contacts {
    justify-content: center;
    align-items: center;
}

.container-booking {
    justify-content: flex-start;
    align-items: flex-start;
}

.container-news {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.container-home::after,
.container-news::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 110px;
    display: block;
    width: 1px;
    height: 70vh;
    background-color: #000;
}

.container-shop::after,
.container-contacts::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 110px;
    display: block;
    width: 1px;
    height: 70vh;
    background-color: #000;
}

.container--title {
    position: absolute;
    align-self: center;
    transform: rotate(-90deg);
}

.container--title-home {
    left: -50px;
}

.container--title-news {
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.container--title-shop {
    right: 0;
}

.container--title-contacts {
    right: -35px;
}

.container--text {
    font-weight: 200;
}

.container--text-home {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
}

.container--text-booking {
    position: absolute;
    right: 55px;
    align-self: center;
}

.container--text p {
    background-color: lightcoral;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.container--link {
    border-right: 4px solid transparent;
}

.container--list-contacts {
    /* margin-bottom: 240px; */
    padding: 30px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}

.container--list-contacts::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5vh;
    right: 150px;
    width: 400px;
    height: 44vh;
    border: 4px solid lightcoral;
    z-index: -1;
}

.container--list-contacts::after {
    content: "";
    display: block;
    position: absolute;
    top: 5vh;
    left: 50px;
    width: 500px;
    height: 49vh;
    border: 10px solid #fff;
    background-color: #000;
    z-index: -1;
}

.container--link:hover {
    text-decoration: underline;
    border-right: 4px solid lightcoral;
}

#imageholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 140px;
    width: 300px;
    height: 300px;
    font-weight: 200;
    border: 4px dashed #000;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.1s linear;
}

.container--list-shop::before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 80px;
    height: 60px;
    background-color: #000;
}

.container--list-shop::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 120px;
    width: 80px;
    height: 100px;
    background-color: #000;
}

.container--item>span {
    font-weight: 200;
}

.container--list-booking {
    z-index: -1;
    margin-top: -60px;
}

.container--list-booking p {
    position: absolute;
    color: #fff;
    font-family: 'Sriracha', cursive;
    font-size: 160px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    cursor: default;
}

.container--list-booking .container--item {
    display: flex;
}

.container--list-booking .container--item:nth-child(1) {
    margin-left: 15px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(2) {
    margin-left: 30px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(3) {
    margin-left: 45px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(4) {
    margin-left: 60px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(5) {
    margin-left: 75px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(6) {
    margin-left: 90px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(7) {
    margin-left: 105px;
    margin-top: 20px;
}

.container--list-booking .container--item:nth-child(2n-1) p {
    color: lightcoral;
}

.container--map {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #fff;
    position: absolute;
    left: 25px;
    bottom: 10px;
    width: 460px;
    height: 400px;
    background-image: linear-gradient(to bottom left, lightcoral, lightblue 75%);
    border: 1px solid #000;
}

.container--form {
    text-align: center;
    width: 400px;
    height: 400px;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label[for="time"] {
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

input[placeholder] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 25px;
}

input::placeholder {
    text-align: center;
    font-weight: 200;
    color: #000;
}

input[type="radio"] {
    cursor: pointer;
}

.time {
    width: 114px;
    outline: none;
    border: none;
    align-self: flex-end;
}

.submit {
    margin: 0 auto;
    width: 100px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.submit:hover {
    color: lightcoral;
    cursor: pointer;
}

.container--article {
    margin-left: 122px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 200;
    font-size: 30px;
    border: 1px solid #000;
    border-top: none;
}

.container--article-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.container--article-date {
    color: lightcoral;
    font-weight: 200;
}

@media (max-width: 1005px) {
    body {
        max-width: 320px;
    }
    header,
    footer,
    main {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        height: inherit;
    }
    .footer--link,
    .header--link {
        display: block;
        font-size: 24px;
    }
    main {
        display: none;
    }
    .logo-animation {
        background: linear-gradient(to right, black, black 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: none;
    }
    .bicycle-animation {
        display: none;
        animation: none;
    }
    .header--link-bicycle {
        width: 300px;
        height: 280px;
    }
}